.elements {
    /* width: 100%; */
    /* border: solid pink 1px; */
    display:flex;
    
}

.singleElement {
    /* width: 30%; */
    /* border: solid red 1px; */
    /* float: left; */
    margin: 5px;
    /* padding: 5px; */
}
