.oneColor {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    border: solid white 1px;
    border-radius: 50%;
    cursor: pointer;
}

.red {
    background-color: red;
}

.blue {
      background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.answer {
    cursor: not-allowed;
}

.correctCombination {
    cursor: not-allowed;
}
